In [3]:
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
file = './hackathon/Book2.csv'
data = pd.read_csv(file, header=0)
data = data.drop(columns="num")
data.head()

          l      hex  y
0  0.796199  #E3C1B2  4
1  0.486863  #BA673E  1
2  0.756304  #E8B398  3
3  0.723736  #DBAF95  3
4  0.663791  #D59B7C  3

In [4]:
#turn hex to rgb
dt = data.copy()
def hextorgb(st):
    h=st.lstrip('#')
    return tuple(int(h[i:i+2], 16) for i in (0, 2, 4))
dt['rgb']=data['hex'].map(lambda x: hextorgb(x))
#dt = dt.drop(columns="hex")
#justrgb = dt.drop(columns="l")
print(dt[:3])
print(dt.iat[1,1])
print(type(dt.iat[1,3]))
print(dt.shape)
print(type(dt))
#datanp = justrgb.to_numpy()
#print(datanp.shape)

          l      hex  y              rgb
0  0.796199  #E3C1B2  4  (227, 193, 178)
1  0.486863  #BA673E  1   (186, 103, 62)
2  0.756304  #E8B398  3  (232, 179, 152)
#BA673E
<class 'tuple'>
(123, 4)
<class 'pandas.core.frame.DataFrame'>

In [5]:
#turn rgb to r,g,b(between 0 to 1)
rgbl = dt.copy()
rgbl['r']=rgbl['rgb'].map(lambda x: x[0]/255)
rgbl['g']=rgbl['rgb'].map(lambda x: x[1]/255)
rgbl['b']=rgbl['rgb'].map(lambda x: x[2]/255)
rgbl.head()

          l      hex  y              rgb         r         g         b
0  0.796199  #E3C1B2  4  (227, 193, 178)  0.890196  0.756863  0.698039
1  0.486863  #BA673E  1   (186, 103, 62)  0.729412  0.403922  0.243137
2  0.756304  #E8B398  3  (232, 179, 152)  0.909804  0.701961  0.596078
3  0.723736  #DBAF95  3  (219, 175, 149)  0.858824  0.686275  0.584314
4  0.663791  #D59B7C  3  (213, 155, 124)  0.835294  0.607843  0.486275

In [6]:
#turn rgb to hsv
import colorsys
def tohsv(c):
    return(colorsys.rgb_to_hsv(c[0]/255,c[1]/255,c[2]/255))
data2 = rgbl.copy()
data2['hsv'] = rgbl['rgb'].map(lambda x: tohsv(x))
data2.head()

,l,hex,y,rgb,r,g,b,hsv
0,0.796199,#E3C1B2,4,"(227, 193, 178)",0.890196,0.756863,0.698039,"(0.05102040816326533, 0.2158590308370044, 0.89..."
1,0.486863,#BA673E,1,"(186, 103, 62)",0.729412,0.403922,0.243137,"(0.05510752688172044, 0.6666666666666666, 0.72..."
2,0.756304,#E8B398,3,"(232, 179, 152)",0.909804,0.701961,0.596078,"(0.05624999999999999, 0.3448275862068966, 0.90..."
3,0.723736,#DBAF95,3,"(219, 175, 149)",0.858824,0.686275,0.584314,"(0.06190476190476191, 0.31963470319634696, 0.8..."
4,0.663791,#D59B7C,3,"(213, 155, 124)",0.835294,0.607843,0.486275,"(0.058052434456928814, 0.4178403755868545, 0.8..."

In [7]:
#turn hsv to h s v
data2['hue']=data2['hsv'].map(lambda x: x[0])
data2['sat']=data2['hsv'].map(lambda x: x[1])
data2['val']=data2['hsv'].map(lambda x: x[2])
data2.head()

,l,hex,y,rgb,r,g,b,hsv,hue,sat,val
0,0.796199,#E3C1B2,4,"(227, 193, 178)",0.890196,0.756863,0.698039,"(0.05102040816326533, 0.2158590308370044, 0.89...",0.051020,0.215859,0.890196
1,0.486863,#BA673E,1,"(186, 103, 62)",0.729412,0.403922,0.243137,"(0.05510752688172044, 0.6666666666666666, 0.72...",0.055108,0.666667,0.729412
2,0.756304,#E8B398,3,"(232, 179, 152)",0.909804,0.701961,0.596078,"(0.05624999999999999, 0.3448275862068966, 0.90...",0.056250,0.344828,0.909804
3,0.723736,#DBAF95,3,"(219, 175, 149)",0.858824,0.686275,0.584314,"(0.06190476190476191, 0.31963470319634696, 0.8...",0.061905,0.319635,0.858824
4,0.663791,#D59B7C,3,"(213, 155, 124)",0.835294,0.607843,0.486275,"(0.058052434456928814, 0.4178403755868545, 0.8...",0.058052,0.417840,0.835294

In [8]:

data2.to_csv('datall.csv')